p {
    color: hotpink;
    font-size 16px; 
}

div{
    height:200px;
    width: 200px;
    padding:20px;
    margin-bottom: 20px;
    background-color: lightcyan;
}

div a, div p {
    color: green;
}

* {
    text-transform: uppercase;
}

.btn-comprar{
    color: chocolate;
}

#home {
    height: 100px;
}

a:hover{
    font-size:20px;
    color: deeppink
}

a:visited{
    color: black;
}

a: